@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", serif;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    min-height: 100vh;
    width: 100%;
    background-image: url(imgs/nav2.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: orangered 2px solid;
    overflow-x: hidden;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    padding: 20px;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    margin-left: 40px;
    color: white;
}

.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
}

.menu {
    display: none;
}

.nav2 li {
    margin-right: 40px;
}

.nav2 li a {
    text-decoration: none;
    color: white;
}

.banner-text {
    justify-items: center;
    align-items: center;
    position: relative;
    top: 200px;
}

.banner-text h1 {
    font-size: 80px;
    letter-spacing: 5px;
    color: white;
}

.banner-text h3 {
    font-size: 20px;
    margin: 40px;
}

.banner-text h3 a {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 25px 40px;
}

@media screen and (max-width:360px) {
    .navbar li {
        display: none;
    }

    .banner-text h1 {
        font-size: 38px;
    }
}

@media all and (max-width: 1064px) {
    .menu {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        color: white;
        font-size: 30px;
    }

    .nav li,
    .nav2 li {
        display: none;
    }

}

@media all and (max-width: 861px) {
    header {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .banner-text h1 {
        font-size: 40px;
    }

    .banner-text h3 a {
        font-size: 15px;
        padding: 10px 15px;
    }

}

@media screen and (max-width:346px) {
    .title {
        font-size: 2px;
    }

}

@media screen and (max-width:346px) {
    .title {
        font-size: 2px;
        font-weight: 400;
        letter-spacing: -5px;
        word-spacing: -3px;


    }
}




/* --------------------------END OF HEADER---------------- */
.mnu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding: 50px 30px;
    background-color: black;
    width: 100%;
    height: 130px;

}

.btm-menu ul li a {
    color: white;
    text-decoration: none;
}

.btm-menu {
    display: flex;
    flex-wrap: wrap;
}

/* -------------------------------------------------------- */
.model {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards {
    /* border: solid 0.1px black; */
    margin: 20px 40px;
    padding: 0 10px;
    border-radius: 10px;
    width: 350px;
    height: 450px;
    object-fit: cover;
    transition: .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cards img {
    width: 100%;
}

.cards:hover img {
    transform: scale(0.8);
}

.cardtitle {
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
}


.button {
    position: relative;
    left: 200px;
    bottom: 60px;
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 25px;
}

.para1 {
    word-spacing: 10px;
    color: black;
}

a span {
    color: black;
}

.star {
    color: goldenrod;
}

.cards h2 {
    color: orangered;
}

.cards a {
    text-decoration: none;
}

.cards:hover {
    transform: scale(1.1);
}

@media screen and (max-width:600px) {

    .mnu {
        display: block;
        padding: 0 30px;

    }

}

@media screen and (max-width:580px) {

    .mnu {
        display: block;
        padding: 0 30px;

    }
}

@media screen and (max-width:401px) {
    .button {
        position: relative;
        left: 180px;
    }

}

@media screen and (max-width:387px) {
    .button {
        position: relative;
        left: 160px;
    }
}

@media screen and (max-width:366px) {
    .button {
        position: relative;
        left: 140px;
    }
}


@media screen and (max-width:350px) {
    .button {
        position: relative;
        left: 130px;
    }

}

/* ---------------------------section1 end------------------- */
.recent {
    text-align: center;
    letter-spacing: 3px;
    font-size: 60px;
    margin: 20px;
}

.rl {
    background-image: url(imgs/nav1.avif);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;


}

.launched {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

@media screen and (max-width:602px) {
    .rl {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
    }

    .dk {
        position: relative;
        top: -50px;
    }

    .adv {
        position: relative;
        bottom: 100px;
    }
}

@media screen and (max-width:604px) {
    .mnu li a {
        display: block;
        font-size: 18px;
    }

    .rl {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .dk {
        margin-left: 5px;
        position: relative;
        top: -50px;

    }

    .adv {
        position: relative;
        bottom: 80px;
        left: 1px;
    }

}

@media screen and (max-width:786px) {
    .news a img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .news {
        height: 400px;
        margin-top: -220px;
    }

    .news h1 a {
        position: relative;
        top: 70px;
        left: 10%;
    }

    a .em {
        position: relative;
        top: 60px;
        left: 40%;
        font-size: 20px;

    }
    .news h1 .xbow {
        background-color: black;
    }
}

@media screen and (max-width:720px) {
    .foot {
        margin-top: -50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .foot ul li {
        display: none;
    }

}

@media screen and (max-width:643px) {
    .news h1 a {
        font-size: 60px;
    }
}

@media screen and (max-width:485px) {
    .news h1 a {
        font-size: 40px;
        margin-right: 10px;
    }

    a .em {
        position: relative;
        font-size: 20px;
        left: 70px;

    }

    .foot {
        margin-top: -100px;
        flex-direction: column;

    }

    .foot ul li {
        display: none;
    }

}
@media screen and (max-width:367px){
    .dis{
        font-size: 40px;
    }
}
.title,.adv-ktm{
    background-color: orangered;
}
.ad,.adv-blaze{
    background-color: royalblue;
    
}


.dk {
    background-color: white;
    width: 300px;
    padding-left:px;
    margin-top: 150px;
    border-radius: 5px;
    text-align: center;
}

.adv {
    background-color: white;
    width: 300px;
    padding-left: px;
    margin-top: 150px;
    border-radius: 5px;
    text-align: center;
}

.dk a h2,
h3 {
    margin-top: 10px;
    
}

.dk a {
    text-decoration: none;
    color: black;
}

.adv a h2,
h3 {
    margin-top: 10px;
}

.adv a {
    text-decoration: none;
    color: black;
}


/* ------------------------------section2 end---------------------------- */
.duked a {
    word-spacing: 3px;
    letter-spacing: 3px;
    margin-top: 40px;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    flex-wrap: wrap;

}

.topic {

    font-size: 60px;
    letter-spacing: 5px;
    color: black;
    text-align: center;

}

.duked a h1 {
    margin-top: 15px;
}



/* ----------------------section3 end------------------- */
.news img {
    width: 100%;
    height: 700px;
    margin-top: 50px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    overflow-x: hidden;
    position: relative;

}

.xbow,
.em {
    position: absolute;
    z-index: 1000;
    top: 300px;
    right: 150px;
    color: white;
}

.em {
    background-color: orangered;
    margin-right: 120px;
    margin-top: 110px;

}

.xbow {
    font-size: 80px;
    word-spacing: 10px;
    letter-spacing: 5px;
}

.news a {
    text-decoration: none;
    color: rgb(11, 11, 11);
}

@media screen and (max-width:455px) {
    .news {
        height: 600px;
        position: relative;
        margin-bottom: 50px;

    }

    .news h1 a {
        font-size: 50px;
        position: relative;
        left: 20px;
        top: 30px;
        font-size: 40px;

    }

    a .em {
        position: relative;
        top: 30px;
    }

    .duked {

        transform: translateX(1px);
        justify-content: center;
    }

    .duked img {
        width: 300px;
        height: 350px;
    }


}

@media screen and (max-width:335px) {
    .button {
        position: relative;
        top: -90px;
        font-size: 15px;
        left: 120px;
    }

    .banner-text h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:320px) {
    .button {
        position: relative;
        left: 100px;

    }
}

/* ----------------------------------------SEC3 END------------------------------- */

.foot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
}

.foot a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.foot h2 {
    margin-bottom: 20px;
}

.foot-icon {
    word-spacing: 5px;
}


@media screen and (max-width:465px) {
    .foot ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        flex-direction: colum;
        align-items: center;
        justify-content: center;
    }

    .foot ul li {
        display: none;
    }

    .foot {
        flex-direction: column;
    }

}